body
{
	background-color: #E7E7E7;
	color: #080808;
	margin: 0 ;				/* スペース */
	padding: 0 ;			/* 余白 */
	font-size: 15px ;		/* 文字サイズ */
	line-height: 1.618 ;	/* 行の高さ */
}
header
{
	border-bottom: 3px solid #1D7D2D ;		/* 枠線 */
	text-align: center;					/* テキスト、画像の真ん中寄せ */
	padding: 1em 0 ;					/* 上下の余白 */
	margin-bottom: 2em ;				/* 他のブロックとのスペース */
	background: #8389B3 ;				/* 背景色(確認用) */
	color: #040404;
	font-size: 22px;
	font-weight: bold;
}
footer
{
	border-top: 3px solid #1D7D2D ;		/* 枠線 */
	text-align: center ;				/* テキスト、画像の真ん中寄せ */
	margin-top: 2em ;					/* 他のブロックとのスペース */
	padding: 1em 0 ;					/* 上下の余白 */
	background: #33343A ;
	color: #f8f8f8;
}
summary{
	border: 1px solid #000000;
	background-color: #6D739D;
	color:#E7E7E7;
	font-weight: 100;
	padding: 3px 0;
}
.wrapper
{
	width: 1000px ;
	margin: 0 auto ;	/* 左右に[auto]を指定することで、真ん中に寄る */
	padding: 0 ;		/* 上下左右の余白を0にしておく */
	overflow: hidden;
}
.main
{
	width: 618px ;
	padding: 20px ;							/* 上下左右に20pxの余白 */
	border: 1px solid rgba(0,0,0,.1) ;		/* 枠線 */
	float : left;
}

.side
{
	width: 320px ;
	border: 1px solid rgba(0,0,0,.1);
	float: right;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}
.itemName{
	font-size: 19px;
	color: #000080;
	font-weight: bold;
}
.item {
	padding: 20px;
	border: 1px solid #ccc;
	border-bottom: 2px solid #ccc;
	background-color: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}



/* スマホだけに適用するCSS */
@media screen and ( max-width:479px )
{
	/* ボディ */
	body
	{
		font-size: 13px ;	/* 文字サイズ */
	}
	.wrapper
	{
		width: auto ;
		padding: 0 10px ;		/* 左右の余白 */
		overflow: hidden;
	}
	.main
	{
		width: auto ;
		padding: 0 ;		/* 余白 */
		border: none ;		/* 枠線 */
		float: none;
	}

	.side
	{
		width: auto ;
		float: none;
	}
}